# Versioning and metadata
.git
.gitignore
.dockerignore
.github

# Build dependencies
__pycache__/
**/node_modules/
**/.next/
*.pyc
*.pyo
*.pyd
.Python
venv/
backend/chrome*/

# Environment (contains sensitive data)
.env
**/.env
backend/.env

# Files not required for production
Dockerfile
README.md
screenshots
install.sh
run.sh
build.sh
install.sh
backend/test.py
backend/feeds.py
backend/installFeeds.py
backend/example.env
backend/package.json
backend/package-lock.json
supervisord.pid
